#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#opinion-container {
  margin-top: 20px;
}

a:link, a:visited {
  color: black;
}

body {
  background-color: #ecc377;
  color: black;
  font-family: sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}


.topnav a {
  float: left;
  color: green;
}

.blog {
  border: 3px dotted #121212;
  margin: 20px 10px;
  padding: 10px 20px;
}

